.popup-content {
  width: 60% !important;
  border-radius: 16px !important;
  padding: 0 !important;
  background: none !important;
  border: none !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
.scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
.scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a27fff;
  border-radius: 32px;
}
.scrollbar-thumb {
  background: #a27fff;
  border-radius: 32px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b473ce;
}
.scrollbar-thumb:hover {
  background: #b473ce;
}

@media screen and (min-width: 480px) {
  .ReactPlayer {
    width: 319px;
    height: 260px;
  }
}

@media screen and (min-width: 1200px) {
  .responsive {
    width: 1350px;
    margin: auto;
  }
}
