.dropdown-content {
  margin-left: -230%;
  display: none;
}
.dropdown:hover .dropdown-content {
  display: flex;
}

.profile-dropdown {
  right: 144px;
  top: 64px;
  display: none;
}
.userDropdown:hover .profile-dropdown {
  display: flex;
}
/* useDropDown remove none and show the dropdown */
.userDropdown {
  display: none !important;
}
.logOut {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
}
.logOut:hover {
  border-top: 2px solid #808080;
  border-bottom: 2px solid #808080;
}
