.dropdown-content {
  margin-left: -230%;
  display: none;
}
.dropdown:hover .dropdown-content {
  display: flex;
}

.profile-dropdown {
  right: 144px;
  top: 64px;
  display: none;
}
.userDropdown:hover .profile-dropdown {
  display: flex;
}
.userDropdown {
  display: none;
}
